= f.input :text, :input_html => { :class => "form-control wysihtml5", style: "width: 65%", rows: 15}, label: false
- if params[:reply_to_id]
  = f.hidden_field :reply_to_id, :value => params[:reply_to_id]
