.row{style: "background-color: rgb(250,250,250); padding: 5px; border-radius: 3px; box-shadow: 0 0 3px rgba(0,0,0,.30);"}
  .col-md-2
    .contents
      .user
        .icon= forem_avatar(post.user, :size => 60)
        .username
          - if post.user.is_a?(Forem::NilUser)
            = t(:deleted)
          - else
            = link_to_if Forem.user_profile_links, post.user.forem_name, [main_app, post.user]
  .col-md-10
    = forem_format(post.text)