.page-header
  %h1 Editing Post
.row
  .col-md-12.col-md-offset-2
    = simple_form_for [forem, @topic.forum, @topic, @post] do |f|
      %p
        = render :partial => "form", :locals => { :f => f }
      %p
        = f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary"
