.page-header
  %h1 Downloads

%ul.nav.nav-tabs
  - JOBS.each do |job|
    %li
      %a{href: download_path(job)} #{job}
.row
  .col-md-8
    = paginate @builds
    %table.table.table-bordered.table-striped
      %tr
        %th ID
        %th Version
        %th Type
        %th Download
      - @builds.each do |build|
        %tr
          %td
            %a{href: build[:url], target: "_blank"}= build[:id]
          %td
          %td
          %td
    = paginate @builds
  .col-md-4