- content_for :head do
  %meta{:content => "Sponge Plugin Creation", :name => "description"}
  %meta{:content => "Sponge, Plugins, New", :name => "keywords"}
- content_for :title do 'New Plugin' end
.container
  %ol.breadcrumb
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Plugins', plugins_path
    %li
      = link_to 'New', new_plugin_path(@plugin)

  = render 'form'