%footer
  %hr/
  %ul.nav.nav-pills.footer
    %li.pull-left
      %a © #{Time.now.year} Sponge
    %li.pull-right
      %a{href: "#Top"}
        %i.fa.fa-chevron-up
        Back to top
    %li.pull-right
      %a{href: main_app.revisions_path}
        %i.fa.fa-code
        Revisions
    %li.pull-right
      %a{href: "#contact", "data-toggle" => 'modal'}
        %i.fa.fa-envelope
        Contact
    %li.pull-right
      %a{href: "https://twitter.com/SpongePowered"}
        %i.fa.fa-twitter.footer-media
    %li.pull-right
      %a{href: "https://github.com/SpongePowered"}
        %i.fa.fa-github.footer-media
