%footer
	.container
		%ul.list-inline.social
			%li
				%a{:href => "https://twitter.com/spongepowered", :target => "_BLANK"}	
					%i.fa.fa-2x.fa-twitter
			%li
				%a{:href => "https://github.com/SpongePowered", :target => "_BLANK"}
					%i.fa.fa-2x.fa-github
			%li
				%a{:href => "", :target => "_BLANK"}
					%i.fa.fa-2x.fa-rss
