%header
	.container
		%a{href: ""}
			%img{:alt => "logo", :src => "http://riksolo.tk/SpongeSiteDev/img/logo.png"}/
		%a#responsive-menu-button{:href => ""}
			%i.fa.fa-bars
		%nav.menu
			%ul.list-inline
				%li
					%a{:href => "#"} Home
				%li
					%a{:href => "#"} Download
				%li
					%a{:href => "#"} Modules
				%li
					%a{:href => "#"} Docs
				%li
					%a{:href => forem.root_path} Forums
				%li
					%a{:href => "#"} Bugs