%ul.nav.nav-tabs{role: "tablist"}
  %li{class: "#{'active' if type == "server"}"}
    %a{href: mc_server_path} Server Authentication
  %li{class: "#{'active' if type == "credentials"}"}
    %a{href: mc_credentials_path} Credentials