%ol
  %li
    Connect to
    %code auth.jake0oo0.me
    in your Minecraft game.
  %li The server will kick you with a token that you can enter below along with your username.
  %li If the token and your username match the token that you were given and your UUID, your account will be authenticated with the website!

// Implement form