.container
  .row
    .col-md-3
      = render 'partials/account'
    .col-md-9
      %h2 Minecraft Account Authentication
      %hr/
      = render 'authentications/nav', :type => type
      .well
        = render "authentications/#{type}"
