.jumbotron
  %h1 Sponge
  %p A New Minecraft Server Implementation

.container
  .row
    .col-md-4
      .text-center
        %i.fa.fa-rocket{style: "font-size: 128px"}
        %br/
        %h2 Speed
        %p.front-icon
          Sponge is speedy fast! Make the best of Minecraft with the amazing optimizations that sponge provides!
        %br/
        %a.btn.btn-primary{href: ""} Download &#187;
    .col-md-4
      .text-center
        %i.fa.fa-code{style: "font-size: 128px"}
        %br/
        %h2 OSS
        %p.front-icon
          Sponge is Open Source Software, meaning that anyone can contribute! Come contribute to the code today!
        %br/
        %a.btn.btn-primary{href: "http://github.com/SpongePowered"} Github &#187;
    .col-md-4
      .text-center
        %i.fa.fa-heart{style: "font-size: 128px"}
        %br/
        %h2 Community
        %p.front-icon
          Sponge is a community driven project, and you can join the discussion on how Sponge should be run, right now!
        %br/
        %a.btn.btn-primary{href: forem.root_path} Forums &#187;