- content_for :head do
  %meta{:content => "Sponge Home", :name => "description"}
  %meta{:content => "Sponge, Minecraft, Plugins, Community, Development", :name => "keywords"}
- content_for :title do 'Home' end

.container
  .row
    .col-md-8
      // This can be automatic with Ajax in the future, but Cross Domain is currently disabled on the Sponge forums.
      %h1 News & Updates
      %a{href: "https://forums.spongepowered.org/t/status-update-api-release-edition/4889"}
        %b
          .title
            Status Update - API Release Edition
            %b.pull-right
              %span.author
                by gratimax
              %span.date.hidden-xs
                on 12/1/2014, 07:44 PM
      %p
        In some parts of the world, it is still the 30th and still technically November. As such we have kept our promise of releasing the Sponge API during November!
        %br
        %br
        We’re at the sunset of November, but don’t worry, Sponge is as strong as ever. In fact, this past November we contributed more code to the API than October and September, combined. See this pretty Github contributions graph:

      %a{href: "https://forums.spongepowered.org/t/status-update-api-release-edition/4889"} Read more...
      %hr/
      %a{href: "https://forums.spongepowered.org/t/status-update-12-november-2014/4461"}
        %b
          .title
            Status Update - 12 November, 2014
            %b.pull-right
              %span.author
                by gratimax
              %span.date.hidden-xs
                on 11/12/2014, 06:20 PM
      %br
      %a{href: "http://forums.spongepowered.org/t/status-update-halloween-edition-apparently/4163"}
        %b
          .title
            Status Update - Halloween Edition (Apparently?)
            %b.pull-right
              %span.author
                by DarkArcana
              %span.date.hidden-xs
                on 10/31/2014, 10:45 PM
      %br
      %a{href: "http://forums.spongepowered.org/t/status-update-26-october-2014/4009"}
        %b
          .title
            Status Update - Status Update - 26 October, 2014
            %b.pull-right
              %span.author
                by me4502
              %span.date.hidden-xs
                on 10/26/2014 at 5:05 AM
      %br
      %a{href: "http://forums.spongepowered.org/t/status-update-18-october-2014/3804"}
        %b
          .title
            Status Update - 18 October, 2014
            %b.pull-right
              %span.author
                by Owexz
              %span.date.hidden-xs
                on 10/18/2014 at 5:17 AM
      %br/
      %a{href: "http://forums.spongepowered.org/t/small-status-update-10-october-2014/3541"}
        %b
          .title
            Small Status Update - 10 October, 2014
            %b.pull-right
              %span.author
                by me4502
              %span.date.hidden-xs
                on 10/11/2014 at 07:54 AM
      %h2{style: "margin-top: 50px;"} What is Sponge?
      %blockquote{style: "margin-bottom: 0px;"}
        %p Sponge is a combination of a new API (based off of Spout/Flow’s APIs) implemented on top of Forge, with assistance from other parts of Minecraft’s modding community (Glowstone, Cauldron, Spout, etc.).

        %p It will be both a server and client API, and its target user base is pretty much anyone that wants to mod their game, including server owners. However, we may focus on the server-side portion first.

        %p We invite any developer to help out.

        %p
          Sponge is currently looking for background with former projects and Java in general, apply
          %a{href: "https://docs.google.com/forms/d/1WI9JRPpuZ5pBUciPPV2j4sTKSMUH_vS8Iq_rbC4Fy2Q/viewform"} here
          to help out!

      %a{href: "https://docs.google.com/document/d/1VJ1WzHI-VUuoHEJz4SRHUbl-5XnsURbqP5fIi8B4Kyg/edit"}
        %b - Sponge FAQ
    .col-md-4
      %h2 Sponsors
      %a{href: "https://www.creeperhost.net/"}
        = image_tag 'creeper-host.png'
      %a{href: "https://nitrous-networks.com/"}
        = image_tag 'nitrous-networks.png'
      %hr/

      %a.twitter-timeline{href: "https://twitter.com/SpongePowered", "data-widget-id" => "525893953791356929"} Tweets by @SpongePowered
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
