- content_for :head do
  %meta{:content => "Sponge Rules", :name => "description"}
  %meta{:content => "Sponge, Rules", :name => "keywords"}
- content_for :title do 'Rules' end
.container
  %ol.breadcrumb
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Rules', rules_path
  .div{style: "font-size: 16px; font-family: sans-serif"}
    %h1
      Forums
    %hr
    %ol
      %h3 General Behavior
      %ol{type: "a"}
        %li Follow Support Guidelines (when they exist) for any issues you may have.

        %li Don't abuse the forums. This means don't spam, multipost, crosspost, or flood it. Be nice and remember that we're all sharing the same virtual space.

        %li Try to keep the language at least PG-13. We're not your mom and dad and we're not going to give you grief over the odd curse word, but keep it within the bounds of reason and courtesy.

        %li Racism, sexism, bigotry, or hateful language is right out. Don't even try it. This is a strict rule- don't break it.

        %li Please avoid discussions of politics, religion and similar controversial topics. Not only is it not relevant to Sponge, it tends to create conflict where there doesn’t need to be any.

        %li Don't bash other projects, Mojang, or people associated with them.

        %li Don’t ask when Sponge will be ready. It’ll be done when it’s done. When it’s done, don’t ask for updates. They come out when they come out. This is a general rule for all open source projects.

        %li We aim to comply entirely with the Mojang EULA, to that end any plugins, services, posts and/or links suspected of violating the EULA may be removed at the discretion of the Sponge Staff or at the request of Mojang AB.

      %h3 Advertising / Soliciting

      %ol{type: "a"}
        %li Don’t advertise in any form on any Sponge system. This includes but is not limited to advertising your favorite server hosting company, the server you play on, some piece of software you use for fun, another game, or whatever. Some exceptions are made in Off-Topic sections and are solely at the discretion of moderation staff.

        %li Do not attempt to make a sale or sell anything on Sponge websites or systems. This includes but is not limited to plugins (mods or any variation of the term), art assets, services, or any work to be provided. If it comes to our attention that a plugin hosted by Sponge is being used as a promotion as a for-sale "lite" version, we reserve the right to remove the plugin listing. What constitutes as a for-sale "lite" version will be decided at the discretion of Sponge Staff.
    %h1
      IRC Channels
    %hr
    %ol
      %h3 General Behavior
      %ol{type: "a"}
        %li Be nice and courteous to your fellow users
        %li No spam in any channels please
        %li Stay on topic
        %li No abuse of others
        %li Be nice to the operators and admins. They're volunteers and their time is frequently limited. While they're very often happy to talk with you, please don't overdo private messages, pinging ops in IRC, and so forth.
      %h3 Disallowed Content and Topics
      %ol{type: "a"}
        %li No racism, sexual content, etc.
        %li Keep vulgar language down
        %li No asking about when Sponge will be ready
        %li No advertising
        %li False rumors about surrounding Sponge

