/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'forem/base'
 *= require bootstrap.min
 *= require bootstrap-wysihtml5
 *= require_self
 */

body {
	padding: 40px 30px;
}

.header-alert {
	margin-top: 30px;
}

.front-icon {
	font-size: 16px;
	font-family: sans-serif;
}

.pagination {
	margin: 0px;
}

a:link.forum { color: black; text-decoration: none !important; } 
a:visited.forum { color: black; text-decoration: none !important; } 
a:hover.forum { color: black; text-decoration: none !important; } 
a:active.forum { color: black; text-decoration: none !important; } 

#left-dropdown {
	right: 0; 
	left: auto;
}

#reply {
  color: darkgray;
}

.action {
	margin-right: 5px;
}