/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body > div.container:not(.alert-container) {
  margin-top: 0px;
 }

 body > .container.alert-container {
  margin-bottom: 0px;
 }

 .footer {
  padding-bottom: 20px;
 }

 .header-alert {
   margin-top: 30px;
 }

 .front-icon {
   font-size: 16px;
   font-family: sans-serif;
 }

 .pagination {
   margin: 0px;
 }

 a:link.no-deco { text-decoration: none !important; } 
 a:visited.no-deco { text-decoration: none !important; } 
 a:hover.no-deco { text-decoration: none !important; } 
 a:active.no-deco { text-decoration: none !important; } 

 #left-dropdown {
   right: 0; 
   left: auto;
 }

 #reply {
  color: darkgray;
}

.action {
	margin-right: 5px;
}

.plugin-indent {
	padding-left: 30px;
}

.form-collapse:hover {
	color: #B7B7B7;
}

.avatar {
	border-radius: 3px;
}

.account-nav {
	margin: 1px 0px 0px 0px !important;
}

.footer-media {
	font-size: 20px;
}

.footer.nav-pills > li > a {
  padding: 6px 11px !important;
  margin: 0 !important;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .plugins {
   margin-top: 20px;
  }
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

.author {
  white-space: nowrap;
  overflow: hidden;
}