.plugin-indent {
	padding-left: 30px;
}

.form-collapse:hover {
	color: #B7B7B7;
}

@media only screen and (min-width : 0px) and (max-width : 992px) {
  .plugins {
   margin-top: 20px;
  }
}

.body-content {
	background-color: white !important;
}

.download {
	font-size: 150%; 
	margin-bottom: 5px;
}
