#margins{style: "margin-left: 10px; margin-bottom: 0px;"}
  %h3{style: "margin-bottom: 0px;"}
    %b= forum.name
  %p{style: "margin-bottom: 0px;"}= forem_format(forum.description)
/ #forum_topic_links.btn-group
/   - unless @topic.try(:new_record?)
/     - if can? :create_topic, @forum
/       = link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum,:class => "btn btn-primary", :id => "new-topic"
/   - if @topic
/     = link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum,:class => "btn"
/   - if can? :moderate, @forum
/     = link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "btn btn-primary"
