%div{style: "background: #ed8106 linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: white; border-radius: 6px 6px 0px 0px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-bottom: 0px;"}
  %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
    %i.fa.fa-gift
    Donate
  %div{style: "background-color: white; color: black; text-align: center; padding: 10px;"}
    Sponge is run out of pocket by its developers! Any donations or monetary funds would be of use to keep Sponge running and active far into the forseeable future. If you would like to donate, please click the buttons that are totally not below..or at least I dont think they are.


%div{style: "margin-top: 30px; background: #ed8106 linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: white; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30);"}
  %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
    %i.fa.fa-file-o
    Wiki Contributions
  %div{style: "background-color: white; color: black; text-align: center; padding: 10px;"}
    Sponge is a community run project, and we need your help contributing to the Sponge MC wiki! The wiki is a place where everyone can collaborate together and create resources for other, less experienced, users to reference when trying to create a server with the Sponge software!