.page-header
  %h1 Forums

%ol.breadcrumb
  %li
    %a{href: main_app.root_path} Home
  %li
    %a{href: forem.root_path} Forums

.row
  .col-md-9
    = render Forem::Category.all
  .col-md-3
    = render 'forem/forums/sidebar'